body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    margin: 0px;
    color: gray;
}

h2 {
    font-size: 35px;
    margin: 0px;
    color: gray;
}

h3 {
    color: white;
}

ul {
    float: right;
    list-style: none;
}

li {
    list-style: none;
    float: left;
    padding-right: 20px;
    font-size: 24px;
    color:rgb(66, 66, 66);
    text-decoration: none;
}

.flex {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.container-small {
    width: 800px;
    margin: 0 auto;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
}

.center {
    align-items: center;
    text-align: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    padding-top: 20px;
    height: 80px;
    width: 1080px;
    margin: 0 auto;
}

.top-banner {
    height: 500px;
    width: 1080px;
    margin: 0 auto;
}

.name-color {
    color: tomato;
}

.half-width {
    height: 400px;
    width: 40%;
    float: left;
    margin: 2.5%;
}

.btn-order-food {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 123, 70);
    padding: 15px 40px;
    border-radius: 30px;
}

.half-width p {
    margin-bottom: 40px;
    color: rgb(66, 66, 66);
}

.img-1 img{
    width: 80%;
}

.img-2 img{
    width: 100%;
}

.bigger-one {
    padding-left: 40px;
    padding-top: 40px;
}

.middle-banner {
    height: 500px;
    width: 1080px;
    margin: 0 auto;
    background-image: url(/images/7.png);
    background-repeat: no-repeat;
}



.middle-text {
    padding-left: 60px;
}

.bottom-banner {
    height: 600px;
    width: 1080px;
    margin: 0 auto;
    background-color:rgb(236, 236, 236);
}

.bottom-section-hero-text {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.one-third {
    width: 25%;
    float: left;
    margin-left: 3%;
    padding: 2%;
    background-image: linear-gradient(white, white);
    border-radius: 8px;
}

.one-third img {
    width: 100%;
} 

.youtuber {
    height: 380px;
    width: 1080px;
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color:rgb(255, 226, 215)
}

.youtuberh2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.single-video {
    padding-top: 35px;
}

.dark-background {
    background-color: black;
}

.footer {
    height: 200px;
}

.footer-text {
    padding-top: 35px;
}